<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.DeptMapper">
    <select id="findAll" resultType="com.itheima.pojo.Dept" >
        select * from dept order by update_time desc
    </select>
    <select id="deleteById" resultType="Integer" >
        delete from dept where id = #{id}
    </select>
    <select id="insert" >
        insert into dept (name,create_time,update_time)
        values (#{name},now(),now())
    </select>
    <select id="update" >
        update dept set
        name=#{name},
        update_time=#{updateTime}
        where id=#{id}
    </select>
    <select id="findById" resultType="com.itheima.pojo.Dept" >
        select * from dept where id = #{id}
    </select>
    <select id="getCountEmpOfDept" resultType="java.lang.Integer">
        select count(e.id) from dept d left outer join emp e on e.dept_id = d.id where d.id=#{id} group by d.name
    </select>

</mapper>