<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.EmpExpMapper">
    <insert id="insertBatch" >
        insert into emp_expr (emp_id, begin, end, company, job) values
        <foreach collection="expList" item="exp" separator=",">
            (#{exp.empId},#{exp.begin},#{exp.end},#{exp.company},#{exp.job})
        </foreach>
    </insert>
    <delete id="deleteByEmpId" >
        delete from emp_expr where emp_id in
        <foreach collection="empIds" item="empId" separator="," open="(" close=")">
            (#{empId})
        </foreach>
    </delete>
</mapper>